<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlElements" version="2.0.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.0.1" targetFramework="net452" />
  <package id="SadCactus.StyleCop" version="2.0.5" targetFramework="net452" developmentDependency="true" />
  <package id="Selenium.Support" version="2.52.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.52.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.21.0.0" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>